/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; width: 100vw; overflow-x: hidden}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: #9c1148;
}

@media(max-width:575px) {
    .mat-button {
        font-size: 0.5em !important;
    }

    .example-card {
        width: 62vw !important;
    }

    .mat-card-title{
        font-size: 0.7em !important;
    }

    .label {
        font-size: 0.8em !important;
    }

    .mat-card-subtitle{
        font-size: 0.4em !important;
    }

    .image {
        width: 44vw !important;
    }

    .content{
        font-size: 0.4em !important;
    }

    .mat-card {
        height: 68vh !important;
        width: 52vw !important;
        margin-bottom: 3vh !important;
    }
    .my-form{
        width: 40vw !important;
    }

    .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button{
        margin: 4px 8px !important;
    }

    .mat-menu-item{
        font-size: 0.8em !important;
    }

    .mat-form-field.field{
        padding-left: 12vh !important;
    }
} 

 @media(min-width:576px) and (max-width:768px) {

    .mat-button {
        font-size: 0.9em !important;
    }

    .example-card {
        width: 62vw !important;
    }

    .mat-card-title{
        font-size: 0.8em !important;
    }

    .label {
        font-size: 0.8em !important;
    }

    .mat-card-subtitle{
        font-size: 0.6em !important;
    }

    .image {
        width: 25vw !important;
    }

    .content{
        font-size: 0.6em !important;
    }

    .mat-card {
        height: 68vh !important;
        width: 32vw !important;
        margin-bottom: 3vh !important;
    }

    /* .matInputdata {
        width: 5vw !important;
    } */

    .my-form{
        width: 20vw !important;
    }

    .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button{
        margin: 4px 8px !important;
    }

    .mat-menu-item{
        font-size: 1em !important;
    }

    .mat-form-field.field{
        padding-left: 80vh !important;
    }
    
} 


@media(min-width:769px) and (max-width:1024px) {

    .mat-button {
        font-size: 0.9em !important;
    }

    .example-card {
        width: 40vw !important;
    }

    .mat-card-title{
        font-size: 1em !important;
    }

    .label {
        font-size: 1em !important;
    }

    .mat-card-subtitle{
        font-size: 0.6em !important;
    }

    .image {
        width: 25vw !important;
    }

    .content{
        font-size: 0.6em !important;
    }

    .mat-card {
        height: 68vh !important;
        width: 32vw !important;
        margin-bottom: 3vh !important;
    }

    /* .matInputdata {
        width: 5vw !important;
    } */

    .my-form{
        width: 18vw !important;
    }

    .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button{
        margin: 4px 8px !important;
    }

    .mat-menu-item{
        font-size: 1em !important;
    }

    .mat-form-field.field{
        padding-left: 115vh !important;
    }
    
} 